[submodule "Zsh/.antigen"]
	path = Zsh/.antigen
	url = https://github.com/zsh-users/antigen.git
[submodule "Tmux/.tmux/powerline-theme"]
	path = Tmux/.tmux/powerline-theme
	url = https://github.com/jooize/tmux-powerline-theme
	ignore = dirty
